.container {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    /* margin: 20px; */
}
.container-general {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; /* Adds padding inside the container */
    max-width: 1350px; /* Sets a maximum width */
    width: 100%; /* Ensures it takes full width */
    box-sizing: border-box; /* Includes padding in width calculation */
}
h1, h2, h3 {
    color: #2c3e50;
}
p {
    margin: 10px 0;
}
ul {
    margin: 10px 0 10px 40px;
}